/*  --- HEADER ---  */
.header {
    padding-top: calc(var(--gutter-x) / 2);
    padding-right: calc(var(--gutter-y) / 2);
    padding-bottom: calc(var(--gutter-x) / 2);
    padding-left: calc(var(--gutter-y) / 2);

    &-inner {
        display: grid;
        grid-template-columns: 92px 1fr;
        grid-template-areas:
            "logo address"
            "logo timetable";
        align-items: center;

        @media (min-width:576px) {
            grid-template-columns: 92px 3fr 2fr;
            grid-template-areas:
                "logo address social"
                "logo timetable phone";
        }

        @media (min-width:992px) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &-social {
        grid-area: social;
        display: none;

        @media (min-width:576px) {
            display: flex;
            gap: calc(var(--gutter-x) / 2);
            align-items: center;
            justify-content: center;
        }


        &__link {
            display: block;
            background: var(--black);
            border-radius: 50%;

        }

        &__icon {
            display: block;
            margin: 5px;
        }

    }

    &__phone {
        grid-area: phone;
        display: none;
        border: .08em solid var(--black);
        padding: .37em .75em;
        border-radius: 1em;
        font-size: .825rem;

        &:hover {
            background: var(--black);
            color: var(--white);
        }

        @media (min-width:576px) {
            display: inline-block;
            text-align: center;
            min-width: 100px;
            margin: 0 auto;
        }

        @media (min-width:992px) {
            margin: 0;
            font-size: 1rem;
        }
    }

    &__address {
        grid-area: address;
        text-align: center;
        font-size: 14px;

        span {
            font-size: .9em;
        }
    }

    &__timetable {
        grid-area: timetable;
        text-align: center;
        font-size: 14px;
    }
}

.logo {
    grid-area: logo;

    &__link {
        display: inline-block;
        text-align: center;

    }

    &__text {
        color: var(--primary);
        margin: 0;

        span {
            color: var(--secondary);
        }
    }

    &__img {
        max-height: 55px;
        min-height: 30px;
    }
}

.top-menu {
    background-color: var(--primary);
    color: var(--white);

    &__list {
        width: 100%;
        display: none;

        @media (min-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }

    &__link {


        @media (min-width: 992px) {
            display: inline-block;
            padding: calc(var(--gutter-x) / 2) var(--gutter-x);
            border-bottom: 2px solid transparent;
            transition: .5s all;

            &:hover {
                background: var(--white);
                color: var(--black);
                border-bottom-color: var(--secondary);
            }
        }
    }

    &__btn {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        margin-left: auto;

        @media (min-width:992px) {
            display: none
        }

        span {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &,
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 2px;
                display: block;
                background: #fff;
                border-radius: 1px;
            }



            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }

        }
    }
}

/*  --- HEADER-end ---  */